* {
    margin: 0;
    padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html {
    overflow-y: scroll;
}

body {
    display: grid;
    grid-template-rows: 80px 1fr;
    background-color: #fdef78;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 10px;
}

header {
    display: grid;
    color: white;
    background: #2f2e2a;
}

    header h1 {
        place-self: center;
        font-size: 42px;
    }

#app-sorting {
    place-self: center;
    margin-top: 30px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 60px 1fr;
    justify-items: center;
}

.buttons-container {
    height: 60px;
}

.array-to-be-sorted {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(8, auto);
    justify-items: center;
    align-items: center;
}

.even {
    background-color: #f96167;
}

.odd {
    background-color: #2f2e2a;
}

.list-item {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    color: white;
    margin: 10px;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
}

.list-animation-item {
    transition: all ease 0.5s;
}

.fade-enter-active, .fade-leave-active {
    transition: all ease 1s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
}

.button {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
    margin: 10px;
}

    .button:hover {
        background-color: #019ad2;
    }

    .button:active {
        position: relative;
        top: 1px;
    }

